:root {
  --color-white: #fff;
  --color-white-dimmed: #fffe;
  --color-half-black: #0008;
  --color-blue: #4ad;
  --color-half-blue: #4ad8;
  --color-purple: #aa44dd;
}

body {
  overflow: hidden;
}

button {
  margin: 0 1rem 1rem 0;
  padding: 0.5rem 2rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 100vh;
  padding: 1rem;
  background: var(--color-white-dimmed);
  margin: 0 0 0.5rem;
}

.control {
  border: none;
  padding: 0;
  margin: 0 0 0.8rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  &__input[type="checkbox"] {
    margin: 0 0.2rem 0 0;
  }
  &__label {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
  }
  &--checkbox {
    flex-direction: row;
  }
  &__select {
    padding: 0.2rem;
  }
}

.splash {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-editor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--color-white);
  &__dot {
    fill: var(--color-half-blue);
    stroke: none;
    &:hover {
      fill: var(--color-purple);
    }
    &--first {
      stroke: var(--color-half-black);
    }
  }
  &__area {
    fill: var(--color-half-blue)
  }
  &__active-area {
    fill: none;
    stroke: var(--color-purple);
    stroke-width: 1px;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.drawing {
  position: relative;
}

.mask-path {
  &--default {
    stroke: none;
  }
  &--chunk {
    fill: none;
    stroke-width: 2px;
    stroke: #ffdd00;
    &--active {
      stroke-width: 3px;
      stroke: #ffddff;
    }
  }

}
