.menu {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 100vh;
  padding: 1rem;
  background: white;
  margin: 0 0 0.5rem;
}

.control {
  border: none;
  padding: 0;
  margin: 0 0 1rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  &__label {
    display: flex;
    justify-content: space-between;
  }
  &--checkbox {
    flex-direction: row;
  }
  &__select {
    padding: 0.2rem;
  }
}

.splash {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin: 0 1rem;
    width: 5rem;
    height: 2rem;
  }
}