@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap");

:root {
  --color-white: #e8e8e8;
  --color-black: #000;
  --color-black-light: #222;
  --color-black-light-semi: #222a;
  --color-grey: #747474;
  --color-silver: #ccc;
  --color-blue-light: #0bd;
  --color-blue: #068;
  --color-skin: #c68c7f;
  --color-skin-light: #f7c496;
  --color-yellow: #ec2;
  --color-yellow-semi: #fd28;

  --bg: var(--color-black-light);
  --bg-input: var(--color-skin);
  --bg-input-active: var(--color-skin-light);

  --gradient-dark: linear-gradient(
    var(--color-black-light),
    var(--color-black)
  );

  --gap: 0.75rem;
  --gap-half: calc(var(--gap) / 2);
  --gap-double: calc(var(--gap) * 2);

  --menu-width: 15rem;
  --input-height: 1.8rem;

  --radius: 0.2rem;

  --font-family: "Figtree", sans-serif;
  --font-size-s: 0.5rem;
  --font-size-m: 0.75rem;
  --font-size-l: 1rem;
}

@keyframes move-to {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--dx, 0), var(--dy, 0));
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  padding: var(--gap) var(--gap-double);
  background: var(--bg-input);
  color: var(--color-black);
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: var(--font-size-m);
  &.splash-button {
    width: 9rem;
    margin: 0 var(--gap);
    font-size: var(--font-size-l);
  }
  &.video-button {
    background: var(--color-blue-light);
    color: var(--color-white);
    &:hover {
      background: var(--color-blue);
    }
    &.pause-button {
      position: fixed;
      bottom: var(--gap-double);
      z-index: 1;
    }
  }
}

input {
  border-radius: var(--radius);
  background: var(--color-black-light);
  border: 1px solid var(--color-skin);
  padding: var(--gap-half);
  color: var(--color-skin);
  &[type="range"] {
    appearance: none;
    height: var(--gap-half);
    margin-top: var(--gap-half);
    background: var(--color-skin);
    padding: 0;
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      height: var(--gap-double);
      width: var(--gap-double);
      border: 1px solid var(--color-black-light);
      border-radius: var(--radius);
      background: var(--color-skin-light);
    }
  }
  &[type="color"] {
    appearance: none;
    border-radius: var(--radius);
    padding: 0;
  }
}

select {
  padding: var(--gap-half);
  border-radius: var(--radius);
  background: var(--bg-input);
  height: var(--input-height);
  border: none;
}

input[type="range"],
input[type="color"],
select,
button {
  &:hover,
  &:active {
    background: var(--color-skin-light);
  }
}

input[type="url"] {
  &:hover,
  &:active {
    border-color: var(--color-skin-light);
  }
}

input[type="checkbox"] {
  display: none;

  & + label {
    display: flex;

    &:before {
      flex-shrink: 0;
      margin: 0.2rem;
      margin-right: 0.3rem;
      content: "";
      width: var(--gap);
      height: var(--gap);
      border-radius: var(--radius);
      border: 1px solid var(--color-skin);
    }

    &:hover:before {
      border-color: var(--color-skin-light);
    }
  }

  &:checked {
    & + label:before {
      background: var(--color-skin-light);
      content: "✔️";
      color: var(--color-black);
      font-size: var(--font-size-s);
      line-height: var(--font-size-m);
      text-align: center;
    }
  }
}

pre {
  width: 17rem;
  height: 100vh;
  overflow: auto;
  position: absolute;
  left: var(--menu-width);
  margin: 0;
  top: 0;
  z-index: 1;
  background: #fff8;
}

fieldset {
  display: contents;
}

legend {
  grid-column: span 12;
  font-size: var(--font-size-m);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--menu-width);
  height: 100vh;
  padding: var(--gap);
  background: var(--gradient-dark);
  color: var(--color-silver);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: var(--gap);
  grid-auto-rows: max-content;
  &--masks {
    right: auto;
    left: 0;
    grid-auto-rows: max-content;
  }
  &--stretched {
    grid-auto-rows: auto;
  }
  button {
    grid-column: span 3;
    border-radius: var(--radius);
    padding: 0;
    &.active {
      background: var(--bg-input-active);
    }
  }
  @media (max-width: 512px) {
    width: auto;
    height: auto;
    bottom: 0;
    top: auto;
    background: var(--color-black);
    .control {
      grid-column: span 6;
      &--color,
      &--checkbox {
        grid-column: span 3;
      }
      &--select {
        grid-column: span 3;
      }
      &--imageUrl {
        grid-column: span 6;
      }
      &--button {
        grid-column: span 3;
      }
      &--range {
        grid-column: span 3;
      }
    }
    &--button {
      grid-column: span 4;
      padding: 0.5rem 0;
    }
    &--masks {
      top: 0;
      bottom: auto;
      display: flex;
      overflow-x: auto;
      width: 100%;
      button {
        flex: 0 0 calc(100% / 8);
      }
    }
  }
}

.control {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  grid-column: 1 / span 12;
  border: none;
  padding: 0;
  font-size: var(--font-size-m);
  &--checkbox {
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    grid-column: span 6;
    margin: 0;
  }
  &--color {
    grid-column: span 6;
    position: relative;
    width: 1rem;
  }
  &--range {
    grid-column: span 6;
    min-width: 0;
  }
  &--button {
    grid-column: span 6;
    button {
      height: var(--input-height);
      font-weight: normal;
      font-size: var(--font-size-m);
    }
  }
  &--select {
    grid-column: span 6;
    select {
      width: 100%;
    }
  }
  &--imageUrl {
    input {
      max-width: 100%;
    }
  }
}

label {
  margin-bottom: var(--gap-half);
  margin-right: var(--gap-half);
  [type="range"] + & {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  [type="checkbox"] + & {
    margin: 0;
  }
  [type="color"] + & {
    margin: 0.4rem 0 0.2rem;
  }
  .value {
    color: var(--color-skin-light);
  }
}

.mask-editor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--bg);
  z-index: 1;
  &__dot {
    fill: var(--color-yellow-semi);
    stroke: none;
    &:hover {
      fill: var(--color-skin-light);
    }
    &--first {
      stroke: var(--color-yellow);
    }
  }
  &__area {
    fill: var(--color-yellow-semi);
    stroke: var(--color-yellow);
  }
  &__new-area {
    fill: none;
    stroke: var(--color-blue-light);
    stroke-width: 1px;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  &--not-started {
    background: var(--color-black-light);
  }
}

.splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-black-light-semi);
}

.drawing {
  position: relative;
}

.mask-path {
  &--default {
    stroke: none;
  }
  &--custom-face-area {
    fill: var(--color-yellow-semi);
    stroke: none;
    &--active {
      fill: none;
      stroke-width: 3px;
      stroke: var(--color-yellow);
    }
  }
}

.cursor {
  fill: var(--color-blue-light);
  stroke: var(--color-blue);
  stroke-width: 0.8rem;
  transition: all 0.1s ease-out;
  &--active {
    stroke-width: 0;
  }
}

.number-mask {
  font-weight: bold;
}
