@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #222;
  --color-grey: #747474;
  --color-silver: #ccc;
  --color-blue-light: #2df;
  --color-blue: #08a;
  --color-skin: #c68c7f;
  --color-skin-light: #f7c496;
  --color-yellow: #ec2;
  --color-yellow-semi: #fd28;

  --bg: var(--color-black-light);
  --bg-input: var(--color-skin);
  --bg-input-active: var(--color-skin-light);

  --gradient-dark: linear-gradient(
    var(--color-black-light),
    var(--color-black)
  );

  --gap: 0.75rem;
  --gap-half: calc(var(--gap) / 2);
  --gap-double: calc(var(--gap) * 2);

  --menu-width: 12rem;
  --input-height: 1.8rem;

  --radius: 0.2rem;

  --font: "Figtree", sans-serif;
}

@keyframes move-to {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--dx, 0), var(--dy, 0));
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  overflow: hidden;
  margin: 0;
  background: var(--color-black-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  padding: var(--gap) var(--gap-double);
  background: var(--bg-input);
  color: var(--color-black);
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

input {
  border-radius: var(--radius);
  background: var(--color-black-light);
  border: 1px solid var(--color-skin);
  padding: var(--gap-half);
  color: var(--color-skin);
  &[type="range"] {
    appearance: none;
    height: var(--gap-half);
    margin-top: var(--gap-half);
    background: var(--color-skin);
    padding: 0;
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      height: var(--gap-double);
      width: var(--gap-double);
      border: 1px solid var(--color-black-light);
      border-radius: var(--radius);
      background: var(--color-skin-light);
    }
  }
  &[type="color"] {
    appearance: none;
    border-radius: var(--radius);
    padding: 0;
  }
}

select {
  padding: var(--gap-half);
  border-radius: var(--radius);
  background: var(--bg-input);
  height: var(--input-height);
  border: none;
}

input[type="range"],
input[type="color"],
select,
button {
  &:hover,
  &:active {
    background: var(--color-skin-light);
  }
}

input[type="url"] {
  &:hover,
  &:active {
    border-color: var(--color-skin-light);
  }
}

input[type="checkbox"] {
  display: none;

  & + label {
    display: flex;

    &:before {
      margin: 0 3px;
      content: "";
      width: var(--gap);
      height: var(--gap);
      border-radius: var(--radius);
      border: 1px solid var(--color-skin);
    }

    &:hover:before {
      border-color: var(--color-skin-light);
    }
  }

  &:checked {
    & + label:before {
      background: var(--color-skin-light);
      content: "✔️";
      color: var(--color-black);
      font-size: 0.5rem;
      line-height: 0.8rem;
      text-align: center;
    }
  }
}

pre {
  width: 500px;
  position: absolute;
  left: var(--menu-width);
  top: 0;
  z-index: 1;
  background: #fff8;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--menu-width);
  height: 100vh;
  padding: var(--gap);
  background: var(--gradient-dark);
  color: var(--color-silver);
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: var(--gap);
  grid-auto-rows: max-content;
  &--masks {
    right: auto;
    left: 0;
    grid-auto-rows: max-content;
  }
  &__button {
    grid-column: span 4;
    border-radius: var(--radius);
    background: var(--bg-input);
    padding: 0;
    &--active {
      background: var(--bg-input-active);
    }
  }
  @media (max-width: 512px) {
    width: auto;
    height: auto;
    bottom: 0;
    top: auto;
    .control {
      grid-column: span 6;
      &--color,
      &--checkbox {
        grid-column: span 3;
      }
      &--select {
        grid-column: span 3;
      }
      &--imageUrl {
        grid-column: span 6;
      }
    }
    &--button {
      grid-column: span 4;
      padding: 0.5rem 0;
    }
    &--masks {
      top: 0;
      bottom: auto;
      width: 100%;
    }
    &__button {
      grid-column: span 2;
    }
  }
}

.control {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  grid-column: 1 / span 12;
  border: none;
  padding: 0;
  font-size: 0.8rem;
  &--checkbox {
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    grid-column: span 6;
    margin: 0;
  }
  &--color {
    grid-column: span 6;
    position: relative;
    width: 1rem;
  }
  &--button {
    grid-column: span 6;
    button {
      height: var(--input-height);
      font-weight: normal;
      font-size: 0.8rem;
    }
  }
  &--select {
    grid-column: span 6;
    select {
      width: 100%;
    }
  }
  &--imageUrl {
    input {
      max-width: 100%;
    }
  }
}

label {
  user-select: none;
  margin-bottom: var(--gap-half);
  &--name {
    margin-top: 0.4rem;
  }
  .menu--collapsed & {
    display: none;
  }
  [type="range"] + & {
    display: flex;
    justify-content: space-between;
  }
  [type="checkbox"] + & {
    margin: 0;
  }
  [type="color"] + & {
    display: none;
  }
}

.face-editor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: var(--bg);
  z-index: 1;
  &__dot {
    fill: var(--color-yellow-semi);
    stroke: none;
    &:hover {
      fill: var(--color-skin-light);
    }
    &--first {
      stroke: var(--color-yellow);
    }
  }
  &__area {
    fill: var(--color-yellow-semi);
    stroke: var(--color-yellow);
  }
  &__active-area {
    fill: none;
    stroke: var(--color-blue-light);
    stroke-width: 1px;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.drawing {
  position: relative;
}

.mask-path {
  &--default {
    stroke: none;
  }
  &--chunk {
    fill: var(--color-yellow-semi);
    stroke: none;
    &--active {
      fill: none;
      stroke-width: 3px;
      stroke: var(--color-yellow);
    }
  }
}

.cursor {
  fill: var(--color-blue-light);
  stroke: var(--color-blue);
  stroke-width: 0.8rem;
  transition: stroke-width 0.1s ease-out;
  &--active {
    stroke-width: 0;
  }
}

.number-pattern {
  font-weight: bold;
}

.video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--gap-double);
  width: 9rem;
  margin: 0 var(--gap);
  &--pause {
    position: fixed;
    z-index: 1;
  }
}
